# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules
/dist
/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Entorno de desarrollo
.env
.env.local
.env.development
.env.test
.env.production


# Directorios de construcción
/dist
/out
/.next
/.vercel
/.netlify

# Configuraciones de sistemas
.DS_Store
Thumbs.db

*.json

src/assets/img/products/*